.esas{
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: none;
}
.loginBtn2{
    height: 35px;
    width: 120px;
    border-radius: 5px;
    border: none;
    margin-bottom: 17px;
    margin-left: 5px;
}
.loginBtn{
    height: 35px;
    width: 160px;
    border-radius: 5px;
    border: none;
}
.gap{
    margin-right: 245px;
}
.gap2{
    margin-right: 255px;
}
body {
    background-image: url('https://img.freepik.com/premium-photo/grainy-gradient-background-red-white-blue-colors-with-soft-faded-watercolor-border-texture_927344-24167.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the background covers the whole viewport */
    margin: 0; /* Removes default body margin */
    color: white; /* Sets text color to white for contrast */
    font-family: Arial, sans-serif; /* Sets a default font */
}
.content {
    max-width: 800px; /* Limits the width of the content */
    margin: auto; /* Centers the content */
    padding: 20px; /* Adds padding around the content */
    background: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent background for readability */
    border-radius: 10px; /* Rounds the corners */
}
.container{
    border: 2px solid black;
    background-color: black;
    border-radius: 20px;
    margin-top: 90px;
    width:500px;
    opacity: 0.8;
}
.validp{
    display: flex;
    align-items: center;
    justify-content: center;
}